body, html {
    font-family: "Roboto", sans-serif; 
    background-image: url('../img/lighthouse-5622924_1920_2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    
}
h1{
    display: inline;
    padding: 10px 20px;
    color:white;
    font-size: 4em;
    border: 3px solid white;
    border-radius: 10px;

}
.myname{
    text-align: center;
    margin-top: 50px;
    opacity: 0.9;
    
}


