@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    /* font-family: "Roboto","Raleway"; */
    font-family: 'Roboto', sans-serif;
    /* width: 100%; */
    height: 100%;
    background-image: url("../img/lighthouse-5622924_1920.jpg");
  }

@media (min-width: 1921px) and (max-width: 3000px) {
  body {
    background-size: cover;
  }
}

  canvas {
    display: inline-block;
    vertical-align: middle;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .header{
    text-align: center;

  }
  .name {
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: -121px;
    padding: 5px 20px;
    color:whitesmoke;
    font-size: 50px;
    border: 1px solid yellow;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    /* transition: 3s; */
  }

  /* .name:hover{
    transform: scale(1.05);
  } */

  .w3-row{
    /* position: relative; */
    /* margin-top: 200px; */
    max-width: 1140px;
    margin: 180px auto;
  }

  .w3-third{
    display: inline-block;
    position: relative;
    margin-top: 30px;
    /* cursor: pointer; */
    color: blanchedalmond;
  }

  .text {
    /* margin-top: 5px; */
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
  }

  .w3-row img {
    width: 70px;
    height: 70px;
    border: 1px solid blanchedalmond;
    padding: 15px 15px;
    border-radius: 20px;
    transition: 1s;
  }

  img:hover{
    transform: scale(1.1);
  }
 




  